<div class="collection">
<h1>My Collection</h1>

  <br><br>
  <h4>Some looks I adore ...  </h4>
  <% @outfit.each do |outfit| %>
  <%= link_to(image_tag(outfit.image, :class => 'thumb', :title => outfit.title), outfit) %>
  <% end %>
</div>











<br><br><br><br>
  <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'amazing-wardrobe';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
