<h1>show after creating</h1>
<p>Find me in app/views/outfits/show.html.erb</p>


<p> Title : <%= @outfit[:title] %> </p>
<p> About this outfit : <%= @outfit[:description] %> </p>
<p><%= image_tag @outfit.image %></p>

