<h1>Session#new</h1>
<p>Find me in app/views/session/new.html.erb</p>



- creating a new login for a session within the session, new.html.erb 
- hardcode the form to be called back in session controller, once login is completed, it will grab username and password params and store for session id. 

- gets linked in the session controller (user new) 
sign up -> they get log out automatically -> tell them to log in again to create a new session. 