<h1> NEW USER VIEW </h1>

<!-- - repeated skeleton
- what new users see 
- welcome message etc 
- create new user form goes here (_form.html.erb)
- intellinav goes in application helper (to not repeat) -->


<% if (@user.errors.any?) %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>


<!-- for each new user repeat this step -->
<!-- how to make selected field compulsory???  -->
<%= render "form" %> <!-- is this how you show form ?????? -->