<!DOCTYPE html>
<html>
<head>
  <title>Wardrobe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<!-- this links back to homepage --> 
<h1><a href="/"> my wardrobe </a></h1>

<%= yield %>

</body>
</html>
